.tabela-etapas {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
}

.linha-etapas th, .linha-etapas td {
  padding: 10px;
  border: 1px solid #ddd;
}

.linha-etapas th {
  background-color: #f2f2f2;
  text-align: left;
}

.linha-etapas td {
  text-align: left;
}

.select-resultado-final{
  width: 50%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  font-size: 14px; /* Tamanho de fonte consistente */
  box-sizing: border-box; /* Garante que o padding esteja incluído na largura */
}
  