.avaliacoes-lista {
    font-size: 20px;
    margin-top: 40px;
    width: 80%;
}

.title-avaliacoes-criadas {
    font-size: 25px;
}

.avaliacao-item {
    background-color: #fff;
    padding: 20px 10px;
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avaliacao-item:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.avaliacao-e-status {
    display: flex;
    align-items: center;
}

.nome-avaliacao {
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
}

.status-avaliacao {
    margin: 0;
    color: white;
    font-size: 15px;
    padding: 3px;
    border-radius: 5px;
    background-color: #001034;
}

.status-nao-iniciado {
    background-color: #f0a24e;
}

.status-em-andamento {
    background-color: #337ab7;
}

.status-concluida {
    background-color: #5cb85c;
}

.status-em-pausa {
    background-color: #7e7e7e;
}

.status-cancelada {
    background-color: #c91e18;
}

.mensagem-nao-encontrado-home {
    color: black;
}